body, html{
  height:100%;
}
body{
  margin: 0px;
  background: url("lib/bg.jpeg");
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:63px solid;
  border-radius:15px;
  position:absolute;
}
.batman{
  width: 250px;
  height: 250px;
  border: 0px !important;
  background: url("lib/batman.png") no-repeat top left;
}
.batman-left{
  background: url("lib/batmanleft.png") no-repeat top left ;
}
.mario{
  width: 250px;
  height: 250px;
  border: 0px !important;
  background: url("lib/mario.png") no-repeat top left;
}
.mariojump{
  background: url("lib/mariojump.png") no-repeat top left;
}
.dog{
  width: 250px;
  height: 250px;
  border: 0px !important;
  background: url("lib/dog.gif") no-repeat top left;
}
